/* RESET COMPLETO */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
