.card {
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  color: black;
  border-radius: 0.2em;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 30px #99999933;
  border-radius: 8px;
  margin: auto;
  max-width: 100%;
  height: 450px;
  gap: 2em;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.textCard h4 {
  font-weight: 600;
}

.textCard p {
  font-size: 15px;
}

.card img {
  border-radius: 100%;
  height: 150px;
  width: 150px;
}

@media (min-width: 900px) {
  .card {
    width: 20%;
  }
}
